@import "./themes/bootstrap";
@import "./themes/dark";
@import "./themes/material";

.legend-title {
  background-color: transparent;
  height: unset;
}

.legend-title-text {
  color: #666666;
}

.ngx-datatable,
.info {
  text-align: left;
  margin: 2px auto;
}

.info {
  box-sizing: border-box;
  padding: 0 1em;
  border: solid 1px #ccc;
  background: white;
  font-size: .8em;
  margin-bottom: 1em;
}

.ngx-datatable.scroll-vertical {
  height: 70vh;
}

.selected-column {
  background: #FFF;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}

.group {
  position: relative;
  margin-bottom: 45px;
}

.expander-btn {
  margin-top:8px;
  display:block;
}

.selection-cell .datatable-body-cell.active{
  background: #0829e0 !important;
  color: #FFF !important;
}

.selected-column {
  float: right;
  width: 20%;
  margin-right: 20px;
  text-align: left;
}

.selected-column h4 {
  text-align: center;
  margin: 10px 0 0 0;
  padding: 0;
}

.age-is-ten {
  background: #ffc91f;
}

.is-gender {
  background: blue;
  color: white;
}

.is-female {
  background: pink;
}

.expectedpayment + label:before {
  border: 1px solid #7f83a2;
  content: "\00a0";
  display: inline-block;
  font: 16px/1em sans-serif;
  height: 16px;
  margin: 0 .25em 0 0;
  padding: 0;
  vertical-align: top;
  width: 16px;
}

.expectedpayment2 + label:before {
  border: 1px solid #7f83a2;
  content: "\00a0";
  display: inline-block;
  font: 16px/1em sans-serif;
  height: 16px;
  margin: 0 .25em 0 0;
  padding: 0;
  vertical-align: top;
  width: 16px;
}

.expectedpayment3 + label:before {
  border: 1px solid #7f83a2;
  content: "\00a0";
  display: inline-block;
  font: 16px/1em sans-serif;
  height: 16px;
  margin: 0 .25em 0 0;
  padding: 0;
  vertical-align: top;
  width: 16px;
}

.expectedpayment:checked + label:before{
  color: #EEE;
  content: "\2713";
  text-align: center;
  font-weight: bold;
  background-color:#66bb6a;
}

.expectedpayment2:checked + label:before{
  color: #EEE;
  content: "\2716";
  text-align: center;
  font-weight: bold;
  background-color: #ff1744;
}

.expectedpayment3:checked + label:before {
  color: #EEE;
  content: "\003F";
  text-align: center;
  font-weight: bold;
  background-color: #ffeb3b;
}
